body
{
min-width: 100%;
}

.menu{
    position: absolute;
    top:1px;
    left:-57px;
    height: 30px;
    width: 130%;
    background-color: limegreen;
    opacity: 0.85;
    color: white;
    font-family: Georgia;
    

}

#Home{
    color:white;
}
.calendar{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 100%;
}
.buttons{
    position: absolute;
    top: 50px;
    left: 20px;
    border: none;

}

#create{
    position: relative;
    left: 10%;
    width: 80px;
    height: 20px;
    border-radius: 2em;
    background-color: greenyellow;
    border: none;
    opacity: 0.8;
}

#make {
    position: relative;
    left: 50%;
    width: 80px;
    height: 20px;
    border-radius: 2em;
    background-color: greenyellow;
    border: none;
    opacity: 0.8;
}

#students{
    position: relative;
    left: 90%;
    width: 80px;
    height: 20px;
    border-radius: 2em;
    background-color: greenyellow;
    border: none;
    opacity: 0.8;
}

#students:hover{
    opacity: 0.5;
    cursor: pointer;
}

#make:hover {
    opacity: 0.5;
    cursor: pointer;
 }

#create:hover{
    opacity: 0.5;
    cursor: pointer;
}
.col{
    border: 1px solid black;
}

#row1, #row2, #row3, #row4, #row5, #row6{
    border: 1px solid black;
}

#row1{
    text-align: center;
    background-color: lightcyan;
    border-bottom: none;
    border-radius: .3em;
   
}

#row2, #row3, #row4, #row5, #row6{
    height: 100px;
}

span{
    position: relative;
    left: -12px;
    top: 0px;
    width: 10px;
    height: 10px;
    border: .5px solid black;
}

#month{
    color: midnightblue;
}