td {
  border-style: solid;
  width: 150px;
  height: 100px;
  text-align: right;
}

.words {
  position: relative;
  padding-bottom: 75px;
}

.student {
  width: 700px;
  height: 200px;
  border-style: solid;
}
a:link, a:visited, a:hover {
    color: #ffffff;
    text-decoration: none;
    cursor: auto;
}
